@{
    ViewData["Title"] = "Claim Status";
}
<h2>Claim Status</h2>

<table class="table table-bordered">
    <tr>
        <th>Claim ID</th>
        <th>Month</th>
        <th>Hours</th>
        <th>Status</th>
        <th>Approved By</th>
    </tr>
    <tr>
        <td>1</td>
        <td>August</td>
        <td>20</td>
        <td>Approved</td>
        <td>Coordinator John</td>
    </tr>
    <tr>
        <td>2</td>
        <td>September</td>
        <td>15</td>
        <td>Submitted</td>
        <td>-</td>
    </tr>
</table>
