@{
    ViewData["Title"] = "Lecturer Dashboard";
}
<h2>Lecturer Dashboard</h2>

<div>
    <a class="btn btn-primary" href="/Lecturer/SubmitClaim">Submit Claim</a>
    <a class="btn btn-info" href="/Lecturer/ClaimStatus">View Claim Status</a>
</div>
