@{
    ViewData["Title"] = "Login";
}
<h2>Select User Role</h2>

<div>
    <a class="btn btn-primary" href="/Lecturer/Dashboard">Login as Lecturer</a>
    <a class="btn btn-secondary" href="/Coordinator/Dashboard">Login as Coordinator</a>
    <a class="btn btn-success" href="/Manager/Dashboard">Login as Manager</a>
</div>
